
.pupi-fns-icon-spin4:before { content: '\e800'; } /* '' */
.pupi-fns-icon-bell:before { content: '\e801'; } /* '' */
.pupi-fns-icon-envelope-open-o:before { content: '\e802'; } /* '' */
.pupi-fns-icon-chat:before { content: '\e803'; } /* '' */
.pupi-fns-icon-chat-empty:before { content: '\e804'; } /* '' */
.pupi-fns-icon-lock:before { content: '\e805'; } /* '' */
.pupi-fns-icon-lock-open:before { content: '\e806'; } /* '' */
.pupi-fns-icon-tag:before { content: '\e807'; } /* '' */
.pupi-fns-icon-check:before { content: '\e808'; } /* '' */
.pupi-fns-icon-check-empty:before { content: '\e809'; } /* '' */
.pupi-fns-icon-up-open:before { content: '\e80a'; } /* '' */
.pupi-fns-icon-down-open:before { content: '\e80b'; } /* '' */
.pupi-fns-icon-minus:before { content: '\e80c'; } /* '' */
.pupi-fns-icon-mail:before { content: '\e80d'; } /* '' */
.pupi-fns-icon-pin:before { content: '\e80e'; } /* '' */
.pupi-fns-icon-user:before { content: '\e80f'; } /* '' */
